<div class='relative w-full'>
        <div class='sticky z-50 top-0 w-full px-6 bg-white py-2 flex items-center justify-between 5 border-b-2'>
            <h2 class='text-2xl font-medium'>New Device</h2>
            <button mat-icon-button (click)='diaLogRef.close()'>
                <mat-icon class='cursor-pointer'>close</mat-icon>
            </button>
        </div>
    <div class='w-full p-6 overscroll-y-auto'>


        <form class='w-full' [formGroup]='formGroup'>

            <div class='w-full flex flex-col'>
                <div class='flex space-x-3'>
                    <div class='w-full flex flex-col'>
                        <mat-label><span>Name <sub class='text-2xl text-red-600'>*</sub></span></mat-label>
                        <mat-form-field>
                            <input matInput formControlName='name'>
                            <mat-error *ngIf="formGroup.get('name')?.hasError('required')">
                                Name là trường băt buộc
                            </mat-error>
                        </mat-form-field>
                    </div>

                    <div class='w-full flex flex-col'>
                        <mat-label><span>Type device <sub class='text-2xl text-red-600'>*</sub></span></mat-label>
                        <mat-form-field>
                            <mat-select formControlName='type'>
                                <mat-option *ngFor='let item of devices' [value]='item'>
                                    {{item}}
                                </mat-option>
                            </mat-select>
                            <mat-error *ngIf="formGroup.get('type')?.hasError('required')">
                                Type là trường băt buộc
                            </mat-error>
                        </mat-form-field>
                    </div>

                </div>
                <div class='flex space-x-3'>
                    <div class='w-1/2 flex flex-col'>
                        <mat-label><span>Seri <sub class='text-2xl text-red-600'>*</sub></span></mat-label>
                        <mat-form-field>
                            <input matInput formControlName='serial'>
                            <mat-error *ngIf="formGroup.get('serial')?.hasError('required')">
                                Serial là trường băt buộc
                            </mat-error>
                        </mat-form-field>
                    </div>


                    <div class='w-1/2 flex flex-col'>
                        <mat-label><span>Date of device acquisition <sub class='text-2xl text-red-600'>*</sub></span>
                        </mat-label>
                        <mat-form-field>
                            <input matInput [matDatepicker]='picker' formControlName='deviceAddDate'
                                   placeholder='MM/DD/YYYY'>
                            <mat-datepicker-toggle matIconSuffix [for]='picker'></mat-datepicker-toggle>
                            <mat-datepicker #picker></mat-datepicker>
                            <mat-error *ngIf="formGroup.get('deviceAddDate')?.hasError('required')">
                                Date of device acquisition là trường băt buộc
                            </mat-error>
                            <mat-error *ngIf="formGroup.get('deviceAddDate')?.hasError('errDate')">
                                Date of device acquisition không được lớn hơn thời gian hiện tại
                            </mat-error>
                        </mat-form-field>
                    </div>
                </div>
                <div class='w-full mt-2 mb-5'>
                    <mat-label><span>Image</span></mat-label>
                    <ngx-dropzone #drop (change)='onSelect($event)' accept='image/jpeg,image/jpg,image/png,image/gif'
                                  [multiple]='true'>
                        <ngx-dropzone-label>Select image!</ngx-dropzone-label>
                        <ngx-dropzone-image-preview ngProjectAs='ngx-dropzone-preview' *ngFor='let f of files'
                                                    [file]='f'
                                                    [removable]='true' (removed)='onRemove(f)'>
                            <ngx-dropzone-label>{{ f.name }} ({{ f.type }})</ngx-dropzone-label>
                        </ngx-dropzone-image-preview>
                    </ngx-dropzone>
                </div>
            </div>
        </form>

        <ng-container *ngIf='allocate'>
            <form class='w-full' [formGroup]='formHandOver'>
                <div class='py-2 flex items-center justify-between 5 border-b-2 mb-6'>
                    <h2 class='text-2xl font-medium'>{{this.data.title}}</h2>
                </div>
                <div class='flex space-x-3'>
                    <div class='w-1/2 flex flex-col'>
                        <mat-label><span>Handover person <sub class='text-2xl text-red-600'>*</sub></span></mat-label>
                        <mat-form-field>
                            <mat-select formControlName='handover_person'>
                                <mat-option *ngFor='let el of handover_person' [value]='el'>
                                    {{el}}
                                </mat-option>
                            </mat-select>
                        </mat-form-field>
                    </div>
                    <div class='w-1/2 flex flex-col'>
                        <mat-label><span>Receiver <sub class='text-2xl text-red-600'>*</sub></span></mat-label>
                        <mat-form-field>
                            <input matInput formControlName='receiver'>
                        </mat-form-field>
                    </div>
                </div>
                <div class='flex space-x-3'>
                    <div class='w-1/2 flex flex-col'>
                        <mat-label><span>Position <sub class='text-2xl text-red-600'>*</sub></span></mat-label>
                        <mat-form-field>
                            <input matInput formControlName='position'>
                        </mat-form-field>
                    </div>
                    <div class='w-1/2 flex flex-col'>
                        <mat-label><span>Status <sub class='text-2xl text-red-600'>*</sub></span></mat-label>
                        <mat-form-field>
                            <input matInput formControlName='status'>
                        </mat-form-field>
                    </div>
                </div>
                <div class='flex space-x-3'>
                    <div class='w-1/2 flex flex-col'>
                        <mat-label><span>Date of delivery <sub class='text-2xl text-red-600'>*</sub></span></mat-label>
                        <mat-form-field>
                            <input matInput [matDatepicker]='picker' formControlName='dateOfDelivery'
                                   placeholder='MM/DD/YYYY'>
                            <mat-datepicker-toggle matIconSuffix [for]='picker'></mat-datepicker-toggle>
                            <mat-datepicker #picker></mat-datepicker>
                            <mat-error *ngIf="formHandOver.get('dateOfDelivery')?.hasError('failTime')">
                                Date of device acquisition không được lớn hơn thời gian hiện tại và nhỏ hơn thời gian
                                mua
                            </mat-error>
                        </mat-form-field>

                    </div>
                    <div class='w-1/2 flex flex-col'>
                        <mat-label><span>Onsite <sub class='text-2xl text-red-600'>*</sub></span></mat-label>
                        <mat-form-field>
                            <mat-select formControlName='onsite'>
                                <mat-option *ngFor='let el of onsite' [value]='el.id'>
                                    {{el.label}}
                                </mat-option>
                            </mat-select>
                        </mat-form-field>
                    </div>

                </div>
                <div class='flex space-x-3'>
                    <div class='w-1/2 flex flex-col'>
                        <mat-label><span>Hotline <sub class='text-2xl text-red-600'>*</sub></span></mat-label>
                        <mat-form-field>
                            <input matInput formControlName='hotline'>
                        </mat-form-field>
                        <mat-error *ngIf='formHandOver.get("hotline")?.hasError("pattern")'>
                            Sai định dạng SĐT
                        </mat-error>
                    </div>
                    <div class='w-1/2 flex flex-col'>
                        <mat-label><span>Email <sub class='text-2xl text-red-600'>*</sub></span></mat-label>
                        <mat-form-field>
                            <input matInput formControlName='email'>
                        </mat-form-field>
                    </div>
                </div>

                <div class='w-full'>
                    <mat-label>Ghi chú</mat-label>
                    <mat-form-field class='w-full'>
                        <textarea matInput placeholder='Ex. It makes me feel...'></textarea>
                    </mat-form-field>
                </div>
            </form>

        </ng-container>
        <ng-container *ngIf="data.action !== 'view'">
            <div class='w-full flex items-center justify-center space-x-3'>
                <button mat-raised-button type='button' color='primary' [disabled]='checkInvalid()'
                        (click)='saveDevice()'>
                    Save
                </button>
                <button mat-raised-button class='' type='button' (click)='diaLogRef.close()'>cancel</button>
            </div>
        </ng-container>
    </div>
</div>


