<div>
    <div class="box-new-device">
        <button mat-raised-button (click)="addDevice()">New device</button>
    </div>
    <div class='box-content'>
        <table mat-table [dataSource]="device" class="w-full p-3 ">
            <ng-container matColumnDef="STT">
                <th mat-header-cell *matHeaderCellDef> STT </th>
                <td mat-cell *matCellDef="let element; let index = index"> {{index + 1}} </td>
            </ng-container>
            <ng-container matColumnDef="name">
                <th mat-header-cell *matHeaderCellDef> Name </th>
                <td mat-cell *matCellDef="let element"> {{element.name}} </td>
            </ng-container>

            <ng-container matColumnDef="seri">
                <th mat-header-cell *matHeaderCellDef> Seri </th>
                <td mat-cell *matCellDef="let element"> {{element.serial}} </td>
            </ng-container>

            <ng-container matColumnDef="status">
                <th mat-header-cell *matHeaderCellDef> Status </th>
                <td mat-cell *matCellDef="let element"> {{element.status === 1 ? 'Đã bàn giao' : 'Chưa bàn giao'}} </td>
            </ng-container>

            <ng-container matColumnDef="type">
                <th mat-header-cell *matHeaderCellDef> Type </th>
                <td mat-cell *matCellDef="let element"> {{element.type}} </td>
            </ng-container>
            <ng-container matColumnDef="action">
                <th mat-header-cell *matHeaderCellDef> Action </th>
                <td mat-cell *matCellDef="let element">
                    <div class='flex gap-x-2'>
                        <mat-icon class='cursor-pointer' aria-hidden="false" aria-label="Example thumbs up SVG icon" matTooltip='Lấy qr code' matTooltipPosition='before' (click)='actionsDevice(element, "qr-code")'>qr_code_scanner</mat-icon>
                        <mat-icon  class='cursor-pointer' aria-hidden="false" aria-label="Example thumbs up SVG icon" matTooltip='Phân bổ thiết bị. Quyền phân bổ dưới quyền quản lý là những người có vai trò bộ phận cty' matTooltipPosition='above' (click)="deviceAllocation(element)">devices</mat-icon>
                        <mat-icon class='cursor-pointer' aria-hidden="false" aria-label="Example thumbs up SVG icon" matTooltip='View detail' matTooltipPosition="above" (click)='actionsDevice(element, "view")'>visibility</mat-icon>
                        <mat-icon class='cursor-pointer' aria-hidden="false" aria-label="Example thumbs up SVG icon"  matTooltip='Edit' matTooltipPosition="above" (click)='editDevice(element)' >edit</mat-icon>
                        <mat-icon class='cursor-pointer'  aria-hidden="false" aria-label="Example thumbs up SVG icon"  matTooltip='Delete' matTooltipPosition="above" (click)="deleteDevice(element)">delete</mat-icon>

                    </div>
                </td>
            </ng-container>

            <tr mat-header-row *matHeaderRowDef='displayColumns'></tr>
            <tr mat-row *matRowDef='let row; columns: displayColumns;'></tr>
        </table>
        <mat-paginator [length]="100"
                       [pageSize]="10"
                       [pageSizeOptions]="[5, 10, 25, 100]"
                       aria-label="Select page">
        </mat-paginator>
    </div>
</div>
