<div>
    <div class="box-new-device">
        <button mat-raised-button (click)="addDevice()">New device</button>
    </div>
    <div class='box-content'>
        <table mat-table [dataSource]="device" class="w-full p-3 ">
            <ng-container matColumnDef="STT">
                <th mat-header-cell *matHeaderCellDef> STT </th>
                <td mat-cell *matCellDef="let element; let index = index"> {{index + 1}} </td>
            </ng-container>
            <ng-container matColumnDef="name">
                <th mat-header-cell *matHeaderCellDef> Name </th>
                <td mat-cell *matCellDef="let element"> {{element.name}} </td>
            </ng-container>

            <ng-container matColumnDef="seri">
                <th mat-header-cell *matHeaderCellDef> Seri </th>
                <td mat-cell *matCellDef="let element"> {{element.seri}} </td>
            </ng-container>

            <ng-container matColumnDef="type">
                <th mat-header-cell *matHeaderCellDef> Type </th>
                <td mat-cell *matCellDef="let element"> {{element.type}} </td>
            </ng-container>
            <ng-container matColumnDef="action">
                <th mat-header-cell *matHeaderCellDef> Action </th>
                <td mat-cell *matCellDef="let element">
                    <div class='flex gap-x-2'>
                        <mat-icon class='cursor-pointer' aria-hidden="false" aria-label="Example thumbs up SVG icon">qr_code_scanner</mat-icon>
                        <mat-icon class='cursor-pointer' aria-hidden="false" aria-label="Example thumbs up SVG icon">visibility</mat-icon>
                        <mat-icon aria-hidden="false" aria-label="Example thumbs up SVG icon">edit</mat-icon>
                        <mat-icon  aria-hidden="false" aria-label="Example thumbs up SVG icon">delete</mat-icon>

                    </div>
                </td>
            </ng-container>

            <tr mat-header-row *matHeaderRowDef='displayColumns'></tr>
            <tr mat-row *matRowDef='let row; columns: displayColumns;'></tr>
        </table>
        <mat-paginator [length]="100"
                       [pageSize]="10"
                       [pageSizeOptions]="[5, 10, 25, 100]"
                       aria-label="Select page">
        </mat-paginator>
    </div>
</div>
