<div class='w-full py-4 lg:px-6 xs:px-2 flex justify-center text-white'>
    <div class='xl:w-[80%] xs:w-full  lg:px-5 xs:px-2 flex flex-col space-y-10'>
        <div class='w-full flex items-center xs:space-x-2 lg:pb-5 xs:pb-3  border-b'>
            <div class='lg:w-[30%]'>
                <img src='assets/images/avatar.jpg' alt='image-user' class='lg:w-1/2 xs:w-full rounded-full' />
            </div>
            <div class='w-[70%]'>
                <div class='flex flex-col'>
                    <h3>{{element?.allotment?.receiver}}</h3>
                    <div class='flex space-x-3'>
                        <span class='font-semibold'>Email:</span>
                        <span>{{element?.allotment?.email}}</span>
                    </div>
                    <div class='flex space-x-3'>
                        <span class='font-semibold'>SDT:</span>
                        <span class=''>{{element?.allotment?.hotline}}</span>
                    </div>
                </div>
            </div>
        </div>
        <div class='grid xl:grid-cols-12 grid-cols-12 gap-x-3 gap-y-5'>
            <div class='lg:col-span-4 xs:col-span-6'>
                <div class='flex flex-col'>
                    <span class='font-semibold'>Tên thiết bị</span>
                    <span>{{element?.name}}</span>
                </div>
            </div>
            <div class='lg:col-span-4 xs:col-span-6'>
                <div class='flex flex-col'>
                    <span class='font-semibold'>Mã serial</span>
                    <span>{{element?.serial}}</span>
                </div>
            </div>
            <div class='lg:col-span-4 xs:col-span-6'>
                <div class='flex flex-col'>
                    <span class='font-semibold'>Loại thiết bị</span>
                    <span>{{element?.type}}</span>
                </div>
            </div>

            <div class='lg:col-span-4 xs:col-span-6'>
                <div class='flex flex-col'>
                    <span class='font-semibold'>Ngày nhập thiết bị</span>
                    <span>{{element?.purchase_date | date}}</span>
                </div>
            </div>
            <div class='lg:col-span-4 xs:col-span-6'>
                <div class='flex flex-col'>
                    <span class='font-semibold'>Người bàn giao thiết bị</span>
                    <span>{{element?.allotment?.handoverPerson}}</span>
                </div>
            </div>
            <div class='lg:col-span-4 xs:col-span-6'>
                <div class='flex flex-col'>
                    <span class='font-semibold'>Ngày bàn giao</span>
                    <span>{{element?.allotment?.date}}</span>
                </div>
            </div>
            <div class='lg:col-span-4 xs:col-span-6'>
                <div class='flex flex-col'>
                    <span class='font-semibold'>Tình trạng máy</span>
                    <span>{{element?.allotment?.machine_status}}</span>
                </div>
            </div>

            <div class='lg:col-span-4 xs:col-span-6'>
                <div class='flex flex-col'>
                    <span class='font-semibold'>Vị trí làm việc</span>
                    <span>{{element?.allotment?.positon}}</span>
                </div>
            </div>
            <div class='lg:col-span-4 xs:col-span-6'>
                <div class='flex flex-col'>
                    <span class='font-semibold'>Nơi làm việc</span>
                    <span>{{element?.allotment?.onsite === 0 ? 'Tại công ty' : 'Bên khách hàng'}}</span>
                </div>
            </div>
            <div class='col-span-12'>
                <div class='flex flex-col'>
                    <span class='font-semibold'>Thông tin ghi chú</span>
                    <span>{{element?.note}}</span>
                </div>
            </div>
        </div>
        <div class='grid grid-cols-12 gap-y-3'>
            <h3 class='lg:col-span-3 xs:col-span-6 font-semibold'>Thông tin hình ảnh</h3>
            <div class='w-full col-span-12 flex lg:flex-nowrap xs:flex-wrap'>
                <div class='w-1/2 h-1/2'
                     *ngFor='let item of items ; let i = index'
                     [lightbox]='i'
                     [gallery]='galleryId'>
                    <img [src]='item.data?.src' [alt]="'img' + i" class='w-full h-full object-cover' />
                </div>
            </div>
        </div>
    </div>


</div>

