<div class='w-full bg-white px-6 py-3'>
    <div class='w-full flex items-center justify-between border-b-2 py-3'>
        <h3 class='text-2xl font-medium'>{{data.title}}</h3>
        <button mat-icon-button (click)='dialogRef.close()'>
            <mat-icon>close</mat-icon>
        </button>
    </div>
    <div class='mt-3'>
        <div *ngIf="data.action === 'delete'" class='mb-6'>
            <p>Bạn có chắc muốn xóa thiết bị này</p>
        </div>
        <div class='my-1 w-full flex items-center justify-end space-x-4'>
            <button mat-raised-button (click)='onConfirm()'>Confirm</button>
            <button mat-raised-button (click)='dialogRef.close()'>Cancel</button>
        </div>
    </div>
</div>
