<div id='print-section' class=' w-full h-full flex-col justify-between'>
    <div class='flex justify-between py-4 px-6'>
        <h3 class='text-2xl font-semibold'>View Qr code</h3>
        <button mat-raised-button class='text-center' (click)='dowloadQrcode(parent)'>
            <mat-icon class='m-0'>downloading</mat-icon>

        </button>
    </div>
    <div id='abc' class='flex justify-center items-center printable-content'>
        <qrcode #parent id='qrcode' [qrdata]="'http://localhost:4200/view-detail/' + id" [width]='300'
                [errorCorrectionLevel]="'M'" [elementType]="'canvas'"
                [imageSrc]="'../../../assets/images/angular-logo.png'"></qrcode>
    </div>
    <div class='absolute bottom-2 w-full flex items-center justify-end px-6 '>
        <button mat-raised-button (click)='diaLogRef.close()'>
            Cancel
        </button>
    </div>
</div>
